@font-face
{
  font-family:'skii';
  src: url('../fonts/NotosansCJK Japanese font/NotoSansCJKjp-Bold.otf');
}

@font-face
{
  font-family:'skiicap';
  src: url('../fonts/Capitolium2_Regular.otf');
}

@font-face
{
  font-family:'skiicapBold';
    src: url('../fonts/Capitolium2_Bold.otf');
}

@font-face
{
  font-family:'skiiReg';
  src:url('../fonts/NotosansCJK Japanese font/NotoSansCJKjp-Regular.otf');
}

html, body
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  touch-action: none;
}

img
{
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */      
  zoom: 1;
}

a:active
{
  opacity: 0;
}

div#camera
{
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: -2;
  overflow: hidden;
  pointer-events:none;
}

div#video-background
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  overflow: hidden;
  pointer-events:none;
}

div#video-container
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  overflow: hidden;
  pointer-events:none;
}

#video-container video
{
  min-height:100%;
  max-height: 100%;
  
  height: 100%;
  width: auto;
  
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events:none;
}

div#background
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 1;
  overflow: hidden;
}

div#ground
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 2;
  overflow: hidden;
}

div#foreground
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 3;
  overflow: hidden;
}

div#debug-layer
{
  position:absolute;
  width: 100%;
  height: 50%;
  top: 0%;
  left: 0%;
  z-index: 4;
  overflow: hidden;
  pointer-events:none;
}

div#data-layer
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 99999;
  color: #FFFFFF;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.0vw;
  mix-blend-mode: difference;
  overflow: hidden;
  pointer-events:none;
}

div#loading-container
{
  position:absolute;
  width: 0%;
  height: 0%;
  top: 0%;
  left: 0%;
  overflow: hidden;
  z-index: -2;
  pointer-events:none;
}

div#hidden-button, img.img-lang
{
  position: fixed;
}

div#video-box
{
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events:none;
}

div#ui-bg
{
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  left: 0;
  pointer-events:none;
}

div#ui-bottombox
{
  position:absolute;
  width: 95%;
  height: 20%;
  top: 72%;
  left: 2.5%;
  font-family: url('../fonts/NotosansCJK Japanese font/NotoSansCJKjp-Regular.otf');
  font-size: 2.5vh;
  color: #ffffff;
  pointer-events:none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

div#ui-title
{
  font-family: url('../fonts/NotosansCJK Japanese font/NotoSansCJKjp-Bold.otf');
  font-size: 400%;
  color: #ffffff;
  pointer-events:none;
}

div#ui-body
{
  font-family: skii;
  font-size: 2.5vh;
  color: #ffffff;
  pointer-events:none;
  white-space: pre;
}

div#curtain-container
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 80;
  overflow: hidden;
  pointer-events:none;
}

div#ui-facedetect
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 99;
  overflow: hidden;
  /*pointer-events:none;*/
}

div#fader-screen
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 99;
  overflow: hidden;
  background-color: #ffffff;
  opacity: 1.0;
  pointer-events:none;
}

span.dot
{
  position:absolute;
  bottom: 6%;
  width:10px;
  height:10px;
  
  font-size: 5em;
  display: inline-block;
  box-sizing: content-box;
  border: 0.05em solid white;
  border-radius: 0.35em;
}

span#line
{
  position: absolute;
  bottom: calc(6% + 6px);
  left: 10%;
  width: 0%;
  height: 6px;
  background-color: #ffffff;
  display: inline-block;
  opacity: 0.75;
}

span#separator
{
  position: absolute;
  bottom: -50%;
  left: 5%;
  width: 90%;
  height: 3px;
  background-color: #ffffff;
  display: inline-block;
}

img#ico-x
{
  position: absolute;
  bottom: -50%;
  left: 6%;
  width: 4%;
  height:auto;
  display: inline-block;
}

img#ico-left
{
  position: absolute;
  bottom: -50%;
  left: 31%;
  width: 4%;
  height:auto;
  display: inline-block;
}

img#ico-right
{
  position: absolute;
  bottom: -50%;
  left: 65%;
  width: 4%;
  height:auto;
  display: inline-block;
}

img#ico-pause
{
  position: absolute;
  bottom: -50%;
  left: 48%;
  width: 4%;
  height:auto;
  display: inline-block;
}

img#ico-play
{
  position: absolute;
  bottom: -50%;
  left: 90%;
  width: 4%;
  height:auto;
  display: inline-block;
}

div#player-controls
{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 90%;
}

div#ui-countdown
{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-family:'skii';
  font-size: 40.0vh;
  color: #ba0c2f;
}

div#ui-welcome-title
{
  position:absolute;
  top:10%;
  left:5%;
  width:90%;
  color: #FFFFFF;
}

div#loading-overlay
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 9999;
  pointer-events:none;
  display:flex;
  justify-content: center;
  align-items: center;
  opacity: 1.0;
  background-color: #323232;
}

div#progress-bar
{
  position:absolute;
  top:50%;
  height: 4px;
  background: #ba0c2f;
  -webkit-box-shadow: 0px 0px 10px 0px #ba0c2f;
  -moz-box-shadow: 0px 0px 10px 0px #ba0c2f;
  box-shadow: 0px 0px 10px 0px #ba0c2f;
  z-index: 99;
}

div#progress-done
{
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  z-index: 99;
}

div#progress-background
{
  position: absolute;
  top: 50%;
  width: 100%;
  height: 4px;
  background-color: #232323;
  z-index: 0;
}

h1#progress-count
{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align:center;
  font-weight: 100;
  font-size: 3em;
  margin-top: -1.33em;
  color: #FFFFFF;
  font-family: 'skiicap';
  text-shadow: 0px 0px 5px #FFFFFF;
}