@font-face
{
  font-family:'skii';
  src: url('../fonts/NotosansCJK Japanese font/NotoSansCJKjp-Bold.otf');
}

html, body
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  touch-action: none;
}

img
{
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */      
  zoom: 1;
}

a:active
{
  opacity: 0;
}

div#camera
{
  postion: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: -2;
  overflow: hidden;
  //-webkit-filter: brightness(1.1) contrast(1.7);
}

div#video-background
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  overflow: hidden;
  pointer-events:none;
}

div#video-container
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  overflow: hidden;
  pointer-events:none;
}

#video-container video
{
  min-height:100%;
  max-height: 100%;
  
  height: 100%;
  width: auto;
  
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events:none;
}

div#background
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 1;
  overflow: hidden;
}

div#ground
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 2;
  overflow: hidden;
}

div#foreground
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 3;
  overflow: hidden;
}

div#debug-layer
{
  position:absolute;
  width: 100%;
  height: 50%;
  top: 0%;
  left: 0%;
  z-index: 4;
  overflow: hidden;
  pointer-events:none;
}

div#loading-container
{
  position:absolute;
  width: 0%;
  height: 0%;
  top: 0%;
  left: 0%;
  overflow: hidden;
  z-index: -2;
}

div#hidden-button, img.img-lang
{
  position: fixed;
}

div#video-box
{
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events:none;
}

div#ui-bg
{
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  left: 0;
  pointer-events:none;
}

div#ui-bottombox
{
  position:absolute;
  width: 95%;
  height: 20%;
  top: 72%;
  left: 2.5%;
  font-family: url('../fonts/NotosansCJK Japanese font/NotoSansCJKjp-Regular.otf');
  font-size: 2.5vh;
  color: #ffffff;
  pointer-events:none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

div#ui-title
{
  font-family: url('../fonts/NotosansCJK Japanese font/NotoSansCJKjp-Bold.otf');
  font-size: 400%;
  color: #ffffff;
  pointer-events:none;
}

div#ui-body
{
  font-family: calibri;
  font-size: 2.5vh;
  color: #ffffff;
  pointer-events:none;
  white-space: pre;
}

div#curtain-container
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 80;
  overflow: hidden;
  pointer-events:none;
}

div#ui-facedetect
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 99;
  overflow: hidden;
  /*pointer-events:none;*/
}

div#fader-screen
{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 99;
  overflow: hidden;
  background-color: #ffffff;
  opacity: 1.0;
  pointer-events:none;
}

span.dot
{
  position:absolute;
  bottom: 6%;
  width:10px;
  height:10px;
  
  font-size: 5em;
  display: inline-block;
  box-sizing: content-box;
  border: 0.05em solid white;
  border-radius: 0.35em;
}

span#line
{
  position: absolute;
  bottom: calc(6% + 6px);
  left: 10%;
  width: 0%;
  height: 6px;
  background-color: #ffffff;
  display: inline-block;
  opacity: 0.75;
}

span#separator
{
  position: absolute;
  bottom: -50%;
  left: 5%;
  width: 90%;
  height: 3px;
  background-color: #ffffff;
  display: inline-block;
}

img#ico-x
{
  position: absolute;
  bottom: -50%;
  left: 6%;
  width: 4%;
  height:auto;
  display: inline-block;
}

img#ico-left
{
  position: absolute;
  bottom: -50%;
  left: 31%;
  width: 4%;
  height:auto;
  display: inline-block;
}

img#ico-right
{
  position: absolute;
  bottom: -50%;
  left: 65%;
  width: 4%;
  height:auto;
  display: inline-block;
}

img#ico-pause
{
  position: absolute;
  bottom: -50%;
  left: 48%;
  width: 4%;
  height:auto;
  display: inline-block;
}

img#ico-play
{
  position: absolute;
  bottom: -50%;
  left: 90%;
  width: 4%;
  height:auto;
  display: inline-block;
}

div#player-controls
{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 90%;
}

div#ui-countdown
{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-family:'skii';
  font-size: 40.0vh;
  color: #a20111;
}

div#ui-welcome-title
{
  position:absolute;
  top:10%;
  left:5%;
  width:90%;
  font-family:'skii';
  font-size: 3.2vh;
  color: #FFFFFF;
}